@font-face {
  font-family: "Circular Std";
  src: url(CircularStd-Medium/CircularStd-Medium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Circular Std", sans-serif;
}

body {
  overflow-x: hidden;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.header_box {
  position: relative;
  display: flex;
  padding: 32px 165px;
  justify-content: space-between;
  align-items: center;
}

.background_circle {
  width: 500px;
  height: 500px;
  flex-shrink: 0;
  border-radius: 500px;
  opacity: 0.5;
  background: #ff5722;
  filter: blur(250px);
  position: absolute;
  /* top: 0; */
  left: 0;
  z-index: -1;
}

.logo_box {
  display: flex;
  align-items: center;
  gap: 16px;
}

.logo_title {
  color: var(--Black, #191825);
  font-size: 24px;
  font-weight: 900;
  line-height: 40px; /* 166.667% */
}

.nav_link {
  display: flex;
  align-items: flex-start;
  gap: 64px;
}

.link_text {
  color: #222831;
  font-size: 14px;
  font-weight: 700;
  line-height: 120%; /* 16.8px */
  text-decoration: none;
}

.link {
  color: rgba(25, 24, 37, 0.5);
  font-size: 14px;
  font-weight: 700;
  line-height: 120%; /* 16.8px */
  text-decoration: none;
}

.authorization_box {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

.authorization_text {
  border-radius: 100px;
  background: #fff;
  color: #222831;
  font-size: 14px;
  font-weight: 700;
  line-height: 120%; /* 16.8px */
  padding: 16px 32px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.authorization_btn {
  border-radius: 100px;
  background: #fff;
  color: #222831;
  font-size: 14px;
  font-weight: 700;
  line-height: 120%; /* 16.8px */
  padding: 16px 32px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.authorization_btn:hover {
  background: #5d50c6;
  color: #eee;
}

.authorization_text:hover {
  background: #5d50c6;
  color: #eee;
}

.title_image {
  display: inline-flex;
  align-items: center;
}

.title_box {
  display: flex;
  width: 427px;
  flex-direction: column;
  align-items: flex-start;
  gap: 43px;
  padding-left: 165px;
}

.explore-btn {
  border-radius: 100px;
  background: #fff;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.07),
    0px 34px 75px 0px rgba(0, 0, 0, 0.07),
    0px 137px 137px 0px rgba(0, 0, 0, 0.06),
    0px 308px 185px 0px rgba(0, 0, 0, 0.04),
    0px 548px 219px 0px rgba(0, 0, 0, 0.01),
    0px 856px 240px 0px rgba(0, 0, 0, 0);
  color: #f85e9f;
  font-size: 14px;
  font-weight: 700;
  line-height: 120%; /* 16.8px */
  padding: 16px 32px;
  border: none;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.explore-btn::after {
  content: ""; /* Обязательное свойство для псевдоэлемента */
  background-image: url("img/work\ 1.svg"); /* Замените на путь к вашему изображению */
  background-size: contain;
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
  display: inline-block;
  margin-left: 16px; /* Расстояние между текстом и изображением */
  vertical-align: middle;
}

.title_text {
  color: #000;
  font-size: 69px;
  font-weight: 700;
  line-height: 120%; /* 82.8px */
}

.title_color {
  color: #f85e9f;
  font-size: 69px;
  font-weight: 700;
  line-height: 120%;
}

.title_lead {
  color: rgba(25, 24, 37, 0.5);
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 160%; /* 28.8px */
}

.start_btn {
  border-radius: 100px;
  background: #fff;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1),
    0px 5px 11px 0px rgba(0, 0, 0, 0.1), 0px 20px 20px 0px rgba(0, 0, 0, 0.09),
    0px 45px 27px 0px rgba(0, 0, 0, 0.05), 0px 81px 32px 0px rgba(0, 0, 0, 0.01),
    0px 126px 35px 0px rgba(0, 0, 0, 0);
  padding: 16px 32px;
  border: none;
  /* color: #eee; */
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 16.8px */
  color: #222831;
  cursor: pointer;
  transition: 0.3s;
}

.start_btn:hover {
  background: #5d50c6;
  color: #eee;
}

.demo_btn {
  border-radius: 100px;
  border: 1px solid #eee;
  background: #fff;
  padding: 16px 32px;
  color: #222831;
  font-size: 14px;
  font-weight: 700;
  line-height: 120%; /* 16.8px */
  cursor: pointer;
  transition: 0.3s;
}

.demo_btn::before {
  content: ""; /* Обязательное свойство для псевдоэлемента */
  background-image: url("img/play-circle.5\ 1.svg"); /* Замените на путь к вашему изображению */
  background-size: contain;
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
  display: inline-block;
  margin-right: 8px; /* Расстояние между изображением и текстом */
  vertical-align: middle;
}

.image_btn {
  padding: 16px 32px;
  border-radius: 100px;
  background: #fff;
  box-shadow: 0px 43px 26px 0px rgba(0, 0, 0, 0.05),
    0px 77px 31px 0px rgba(0, 0, 0, 0.01), 0px 120px 34px 0px rgba(0, 0, 0, 0);
  color: #393e46;
  font-size: 14px;
  font-weight: 700;
  line-height: 120%; /* 16.8px */
  border: none;
  cursor: pointer;
}

.image_btn::before {
  content: ""; /* Обязательное свойство для псевдоэлемента */
  background-image: url("img/location\ 1.svg"); /* Замените на путь к вашему изображению */
  background-size: contain;
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
  display: inline-block;
  margin-right: 8px; /* Расстояние между изображением и текстом */
  vertical-align: middle;
}

.image_box {
  position: relative;
  margin-top: 64px;
}

.image_btn {
  position: absolute;
  bottom: 280px; /* Расстояние снизу */
  right: 10px; /* Расстояние справа */
  /* другие стили кнопки */
}

.image_block {
  display: flex;
  padding: 64px 165px;
  justify-content: space-between;
  align-items: flex-start;
}

.image_wrap {
  position: relative;
}

.image_position {
  position: absolute;
  bottom: 43px;
  left: 20px;
}

.background_yellow {
  position: absolute;
  top: 0;
  right: 0; /* Позиционирование справа, чтобы разместить его в правом верхнем углу */
  width: 500px;
  height: 500px;
  border-radius: 500px;
  opacity: 0.5;
  background: #facd49;
  filter: blur(250px);
  z-index: -1; /* Убедитесь, что этот фон находится позади других элементов */
}

.slider_container {
  display: inline-flex;
  align-items: center;
  padding: 105px 151px;
  overflow: hidden;
  max-width: 79%;
}

.slider_title {
  display: flex;
  width: 444px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.slider_text {
  color: #f85e9f;
  font-size: 23px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 4.6px;
  text-transform: uppercase;
}

.slider_title {
  color: #191825;
  font-size: 44px;
  font-weight: 700;
  line-height: 120%;
}

.slider_card {
  display: flex;
  align-items: flex-start;
  gap: 21px;
}

.card_img {
  display: flex;
  width: 350px;
  padding: 64px;
  flex-direction: column;
  align-items: center;
  gap: 64px;
  border-radius: 32px;
  /* background: #fff; */
  box-sizing: border-box;
  height: 443px;
}
.card_title {
  color: #191825;
  font-size: 28px;
  font-weight: 700;
  line-height: 120%;
  text-align: center;
}

.card_text {
  color: rgba(25, 24, 37, 0.5);
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 160%;
  text-align: center;
}

.card_shadow {
  background: #fff;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1),
    0px 41px 89px 0px rgba(0, 0, 0, 0.1);
}

.card_background {
  background-color: #fff;
}

.circle {
  position: relative;
}

.arrow_left {
  position: absolute;
  top: 38px;
  left: 38px;
}

.arrow_box {
  display: flex;
  align-items: flex-start;
  gap: 32px;
}

.arrow_box .arrow-item {
  width: 100px;
  height: 100px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 38px;
  background: #ffffff;
  color: #191825;
  border: 1px solid rgba(25, 24, 37, 0.1);
  cursor: pointer;
  transition: 0.3s;
}

.arrow_box .arrow-item.next {
  transform: rotate(180deg);
}

.arrow_box .arrow-item:hover {
  border: 1px solid transparent;
  background-color: #5d50c6;
  color: #ffffff;
  filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.08))
    drop-shadow(0px 7px 16px rgba(0, 0, 0, 0.07))
    drop-shadow(0px 29px 29px rgba(0, 0, 0, 0.06))
    drop-shadow(0px 65px 39px rgba(0, 0, 0, 0.04))
    drop-shadow(0px 116px 46px rgba(0, 0, 0, 0.01))
    drop-shadow(0px 181px 51px rgba(0, 0, 0, 0));
}

.arrow_container {
  display: flex;
  padding: 0 165px;
  justify-content: space-between;
  align-items: center;
}

.slider_wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.arrow_title {
  color: #191825;
  font-size: 44px;
  font-weight: 700;
  line-height: 120%;
}

.city_wrap {
  display: flex;
  width: 350px;
  padding: 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  box-sizing: border-box;
  border-radius: 0px 0px 32px 32px;
  background: #fff;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.05),
    0px 32px 71px 0px rgba(0, 0, 0, 0.05),
    0px 128px 128px 0px rgba(0, 0, 0, 0.04),
    0px 288px 173px 0px rgba(0, 0, 0, 0.03),
    0px 513px 205px 0px rgba(0, 0, 0, 0.01),
    0px 801px 224px 0px rgba(0, 0, 0, 0);
}

.hotel_desc {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.hotel_wrap {
  display: flex;
  width: 286px;
  align-items: flex-start;
}

.hotel_title {
  color: #191825;
  font-size: 23px;
  font-weight: 700;
  line-height: 120%;
}

.hotel_number {
  color: #f85e9f;
  font-size: 23px;
  font-weight: 700;
  line-height: 120%;
}

.city_hotel {
  color: rgba(25, 24, 37, 0.75);
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 160%;
}

.number_line {
  display: inline-block;
  vertical-align: middle;
  color: #ff5722;
  font-size: 23px;
  font-weight: 700;
  line-height: 120%;
}

.image_centr {
  vertical-align: middle;
}

.city_box {
  display: flex;
  justify-content: center;
  gap: 31px;
  flex-wrap: wrap;
  margin-top: -70px;
  margin-bottom: 128px;
}

.star_box {
  display: flex;
  justify-content: flex-end;
}

.stars_pic {
  margin-right: 20px;
}

.price_wrap {
  display: inline-flex;
  align-items: center;
  gap: 42px;
}

.price_btn {
  position: absolute;
  top: 145px;
  right: 10px;
  z-index: 1;
  display: inline-flex;
  padding: 16px 32px;
  align-items: center;
  gap: 16px;
  border-radius: 100px;
  background: #fff;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.03),
    0px 15px 34px 0px rgba(0, 0, 0, 0.03), 0px 62px 62px 0px rgba(0, 0, 0, 0.02),
    0px 139px 83px 0px rgba(0, 0, 0, 0.01), 0px 246px 99px 0px rgba(0, 0, 0, 0),
    0px 385px 108px 0px rgba(0, 0, 0, 0);
  color: #191825;
  font-size: 23px;
  font-weight: 700;
  line-height: 120%;
  border: none;
  cursor: pointer;
}

.price_btn::before {
  content: "";
  background-image: url(img/discount_1.svg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 40px;
  width: 40px;
  display: inline-block;
  vertical-align: middle;
}

.discount_box {
  position: relative;
  display: inline-block;
}

.point_box {
  display: flex;
  width: 445px;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
}

.point_text {
  color: #f85e9f;
  font-size: 23px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 4.6px;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.point_title {
  color: #191825;
  font-size: 44px;
  font-weight: 700;
  line-height: 120%;
  margin-bottom: 32px;
}

.point_slogan {
  color: rgba(25, 24, 37, 0.5);
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  margin-bottom: 64px;
}

.package_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}

.package_top {
  display: grid;
  grid-template-columns: repeat(2, 210px);
  gap: 32px;
}

.package_number {
  display: flex;
  padding: 32px;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  border-radius: 32px;
  border: 1px solid rgba(25, 24, 37, 0.1);
  background: #fff;
  position: relative;
}

.package_title {
  color: #ff5722;
  font-size: 35px;
  font-weight: 700;
  line-height: 120%;
}

.package_text {
  color: #191825;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 160%;
}

.luxury_hotel::before {
  content: url("img/Frame_50.svg");
  position: absolute;
  top: -90px;
  left: 80px;
}

.services_container {
  display: flex;
  width: 540px;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 165px;
  margin-top: 128px;
}

.services_left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.features_subtitle {
  color: #f85e9f;
  font-size: 23px;
  font-weight: 700;
  line-height: 120%; /* 27.6px */
  letter-spacing: 4.6px;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.services_title {
  color: #191825;
  font-size: 44px;
  font-weight: 700;
  line-height: 120%; /* 52.8px */
  margin-bottom: 32px;
}

.services_text {
  color: rgba(25, 24, 37, 0.5);
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 160%; /* 28.8px */
  margin-bottom: 64px;
}

.services_pic {
  display: flex;
  padding: 32px;
  align-items: center;
  gap: 32px;
  width: 540px;
  box-sizing: border-box;
}

.services_image {
  color: #191825;
  font-size: 23px;
  font-weight: 700;
  line-height: 120%; /* 27.6px */
}

.services_lead {
  color: rgba(25, 24, 37, 0.5);
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 160%; /* 28.8px */
}

.services_desc {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.services_border {
  border-radius: 32px;
  border: 1px solid rgba(25, 24, 37, 0.1);
  background: #fff;
}

.features_wraper {
  display: flex;
  justify-content: space-between;
}

.services_picture {
  position: relative;
  margin-top: 126px;
}

.services_button {
  position: absolute;
  right: 150px;
  top: 160px;
  display: inline-flex;
  padding: 16px 32px;
  align-items: center;
  gap: 16px;
  border-radius: 100px;
  background: #fff;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.03),
    0px 15px 34px 0px rgba(0, 0, 0, 0.03), 0px 62px 62px 0px rgba(0, 0, 0, 0.02),
    0px 139px 83px 0px rgba(0, 0, 0, 0.01), 0px 246px 99px 0px rgba(0, 0, 0, 0),
    0px 385px 108px 0px rgba(0, 0, 0, 0);
  color: #191825;
  font-size: 23px;
  font-weight: 700;
  line-height: 120%; /* 27.6px */
  border: none;
  cursor: pointer;
}

.services_button::before {
  content: "";
  background-image: url(img/map_11.svg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 40px;
  width: 40px;
  display: inline-block;
  vertical-align: middle;
}

.testimonials {
  margin-top: 52px;
  height: 600px;
  position: relative;
}

.testimonials::before {
  content: "";
  position: absolute;
  width: 2381px;
  height: 1258px;
  top: -300px;
  left: 36%;
  transform: translate(-50%);
  background: url("img/blot.svg");
}

.testimonials_container {
  max-width: 1120px;
  margin-inline: auto;
  isolation: isolate;
}

.testimonials .testimonials__header {
  text-align: center;
  font-weight: 700;
  line-height: 1.2;
}

.testimonials .title {
  color: #f85e9f;
  font-size: 23px;
  letter-spacing: 4.6px;
  text-transform: uppercase;
}

.testimonials .subtitle {
  color: #191825;
  font-size: 44px;
}

.slider {
  margin-top: 64px;
  position: relative;
}

.slider-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 920px;
  margin-inline: auto;
}

.slider-item__body-title {
  color: rgba(25, 24, 37, 0.75);
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
  margin-top: 64px;
  text-align: center;
}

.body-title__mark {
  color: #ff5722;
  font-size: 28px;
}

.slider-item__body-rating {
  margin-top: 32px;
  display: flex;
  justify-content: center;
}

.slider-item__body-content {
  margin-top: 32px;
  color: rgba(25, 24, 37, 0.75);
  text-align: center;
  font-size: 23px;
  font-style: normal;
  font-weight: 450;
  line-height: 1.6;
}

.slider-navigation {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 64px;
}

.slider-navigation__dot {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #f3f3f4;
  transition: 0.3s;
  cursor: pointer;
}

.slider-navigation__dot:hover {
  background-color: rgba(248, 94, 159, 0.23);
}

.slider-navigation__dot.active {
  background-color: #f85e9f;
}

.slider__arrows {
  position: absolute;
  top: 111px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.slider__arrows .arrow-item {
  width: 100px;
  height: 100px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 38px;
  background: #ffffff;
  color: #191825;
  border: 1px solid rgba(25, 24, 37, 0.1);
  cursor: pointer;
  transition: 0.3s;
}

.slider__arrows .arrow-item.next {
  transform: rotate(180deg);
}

.slider__arrows .arrow-item:hover {
  border: 1px solid transparent;
  background-color: #5d50c6;
  color: #ffffff;
  filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.08))
    drop-shadow(0px 7px 16px rgba(0, 0, 0, 0.07))
    drop-shadow(0px 29px 29px rgba(0, 0, 0, 0.06))
    drop-shadow(0px 65px 39px rgba(0, 0, 0, 0.04))
    drop-shadow(0px 116px 46px rgba(0, 0, 0, 0.01))
    drop-shadow(0px 181px 51px rgba(0, 0, 0, 0));
}

.beauty_wraper {
  display: flex;
  max-width: 1110px;
  padding: 128px 64px;
  flex-direction: column;
  align-items: center;
  gap: 64px;
  border-radius: 32px;
  background: rgba(250, 205, 73, 0.08);
}

.subscribe_wraper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  max-width: 982px;
}

.subscribe_text {
  color: #f85e9f;
  text-align: center;
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 27.6px */
  letter-spacing: 4.6px;
  text-transform: uppercase;
  width: 982px;
}

.subscribe_title {
  color: #191825;
  text-align: center;
  font-size: 55px;
  font-weight: 700;
  line-height: 120%; /* 66px */
}

.beauty_container {
  display: flex;
  justify-content: center;
  margin-top: 128px;
  position: relative;
}

.email_wraper {
  display: flex;
  align-items: flex-start;
  gap: 64px;
  width: 100%;
}

.email_input {
  width: 100%;
  padding: 32px;
  border-radius: 32px;
  background: #fff;
  border: none;
  color: rgba(25, 24, 37, 0.75);
  font-size: 23px;
  font-weight: 700;
  line-height: 120%; /* 27.6px */
  outline: none;
  background-image: url(img/message_1.svg);
  background-repeat: no-repeat;
  background-position: 16px center;
  padding-left: 64px;
}

.email_button {
  padding: 32px 64px;
  border-radius: 32px;
  background: #5d50c6;
  color: #fff;
  font-size: 23px;
  font-weight: 700;
  line-height: 120%; /* 27.6px */
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.graphic_pic {
  position: absolute;
  top: -58px;
  left: 115px;
}

.stars_image {
  position: relative;
}

.object_pic {
  position: absolute;
  right: 0;
  top: -170px;
}

.footer_container {
  display: flex;
  padding: 0px 165px;
  align-items: flex-start;
  gap: 153px;
  margin-top: 128px;
  margin-bottom: 86px;
}

.footer_left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 64px;
  flex: 1 0 0;
}

.footer_logo {
  display: flex;
  align-items: center;
  gap: 16px;
  color: var(--Black, #191825);
  font-size: 24px;
  font-weight: 900;
  line-height: 40px; /* 166.667% */
  margin-bottom: 32px;
}

.social_wraper {
  display: flex;
  align-items: flex-start;
  gap: 32px;
}

.footer_text {
  color: rgba(25, 24, 37, 0.5);
  font-size: 23px;
  font-weight: 450;
  line-height: 160%; /* 36.8px */
}

.footer_right {
  display: flex;
  align-items: flex-start;
  gap: 121px;
}

.list_wraper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  list-style-type: none;
}

.list_wraper .item_title {
  color: #191825;
  font-size: 23px;
  font-weight: 700;
  line-height: 120%; /* 27.6px */
}

.list_wraper li {
  color: rgba(25, 24, 37, 0.75);
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 160%; /* 28.8px */
}
